
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  background-color: inherit;
}

#home{
  width: 100%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
.botonSugerencia{
  border-radius: 10px;
  color: white;
  background-color: #2dbb00;
}

#bg-home{
    background-image:url('http://localhost/TFG/App/public/imagenes/bg.png');
    background-size: 146% 100%;
}

.cajaOpciones{
    margin: 4.5px;
    display: inline-grid;
    height: 6rem;
    border-radius: 3px;
    background-color: rgb(50, 136, 165);
    -moz-box-shadow: -10px 9px 50px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    color: white;
}

.iconoHome{
  color: white;
  font-size: 2em;
}

.textoPresentacion{
  padding-right: 50%;
  padding-left: 5%;
  color: white;
}

.opcionesUsuario{
  padding-left: 55%;
  padding-bottom: 5%;
  padding-right: 2%;

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.botEjercicio {
  height: 100%;
  width: 100%;
}

#app {
  margin-top:54px;
  padding-top: 1rem;
}

.table th, .table td{
  //padding: 0.75rem;
  vertical-align: top;
  //border-top: 1px solid #00B4A0;
}

.table thead th{
  vertical-align: bottom;
  border-bottom: 3px solid #00B4A0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #5aaf70;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.botonVerTabla{
  background-color: #ede8e8;
  border-radius: 5px;font-size: 17px;
  color: black;
  font-weight: bold;cursor:pointer
}

.botonVerTablaSelected{
  color: white;
  background-color: green;
}

.botonVerTabla:hover{
  animation-name:  verTabla;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  opacity: 1.0;

  -webkit-animation-name: verTabla;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;

}

@-moz-keyframes verTabla{
  0% { opacity: 0.5;}
  50% { opacity: 0.7; }
  100% { opacity: 1.0;  }
}

@-webkit-keyframes verTabla {
  0% { opacity: 0.5;}
  50% { opacity: 0.7; }
  100% { opacity: 1.0;  }
}

@keyframes verTabla {
  0% { opacity: 0.5;}
  50% { opacity: 0.7; }
  100% { opacity: 1.0;  }
}


$primary: #11998e;
$secondary: #38ef7d;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 14px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 13px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 13px;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
