
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  background-color: inherit;
}

#home{
  width: 100%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
.botonSugerencia{
  border-radius: 10px;
  color: white;
  background-color: #2dbb00;
}

#bg-home{
    background-image:url('http://localhost/TFG/App/public/imagenes/bg.png');
    background-size: 146% 100%;
}

.cajaOpciones{
    margin: 4.5px;
    display: inline-grid;
    height: 6rem;
    border-radius: 3px;
    background-color: rgb(50, 136, 165);
    -moz-box-shadow: -10px 9px 50px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    color: white;
}

.iconoHome{
  color: white;
  font-size: 2em;
}

.textoPresentacion{
  padding-right: 50%;
  padding-left: 5%;
  color: white;
}

.opcionesUsuario{
  padding-left: 55%;
  padding-bottom: 5%;
  padding-right: 2%;

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.botEjercicio {
  height: 100%;
  width: 100%;
}

#app {
  margin-top:54px;
  padding-top: 1rem;
}

.table th, .table td{
  //padding: 0.75rem;
  vertical-align: top;
  //border-top: 1px solid #00B4A0;
}

.table thead th{
  vertical-align: bottom;
  border-bottom: 3px solid #00B4A0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #5aaf70;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
