
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  background-color: inherit;
}

#home{
  width: 100%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}
.botonSugerencia{
  border-radius: 10px;
  color: white;
  background-color: #2dbb00;
}

#bg-home{
    background-image:url('http://localhost/TFG/App/public/imagenes/bg.png');
    background-size: 146% 100%;
}

.cajaOpciones{
    margin: 4.5px;
    display: inline-grid;
    height: 6rem;
    border-radius: 3px;
    background-color: rgb(50, 136, 165);
    -moz-box-shadow: -10px 9px 50px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px -18px rgba(0,0,0,1);
    color: white;
}

.iconoHome{
  color: white;
  font-size: 2em;
}

.textoPresentacion{
  padding-right: 50%;
  padding-left: 5%;
  color: white;
}

.opcionesUsuario{
  padding-left: 55%;
  padding-bottom: 5%;
  padding-right: 2%;

}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.botEjercicio {
  height: 100%;
  width: 100%;
}

#app {
  margin-top:54px;
  padding-top: 1rem;
}

.table th, .table td{
  //padding: 0.75rem;
  vertical-align: top;
  //border-top: 1px solid #00B4A0;
}

.table thead th{
  vertical-align: bottom;
  border-bottom: 3px solid  #000000;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #5aaf70;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}

.botonVerTabla{
  background-color: #ede8e8;
  border-radius: 5px;font-size: 17px;
  color: black;
  font-weight: bold;cursor:pointer
}

.botonVerTablaSelected{
  color: white;
  background-color: green;
}

.botonVerTabla:hover{
  animation-name:  verTabla;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  opacity: 1.0;

  -webkit-animation-name: verTabla;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;

}

@-moz-keyframes verTabla{
  0% { opacity: 0.5;}
  50% { opacity: 0.7; }
  100% { opacity: 1.0;  }
}

@-webkit-keyframes verTabla {
  0% { opacity: 0.5;}
  50% { opacity: 0.7; }
  100% { opacity: 1.0;  }
}

@keyframes verTabla {
  0% { opacity: 0.5;}
  50% { opacity: 0.7; }
  100% { opacity: 1.0;  }
}


$primary: #11998e;
$secondary: #38ef7d;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 14px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 13px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 13px;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.cabeceraEnunciado{
  height: 64px;
  background: linear-gradient(-90deg, #717575, #9c9c9c);
}

.cabeceraAdministracion{
  height: 39px;
  background: linear-gradient(-90deg, #0f1313, #53714f);
}



.cardBodyEnun{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}


.selectedEjercicio{
background-color: #3eab3e75;
}

.filaTabla{
border-bottom: 2px #3a3a3a;
    padding-top: 4px;
    padding-bottom: 14px;
    border-bottom-style: solid;
}


.navSide{
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 37%;
  background: #0c4408d9;
  height: 100%;
  transform: skewX(0deg) translate(100%,0);
  transform-origin: top right;
  transition: all .2s ease-in;
}

.activeNav {
  transform: skewX(0deg) translate(100%,0);
  transform-origin: top right;
  transition: all .2s ease-in;
  z-index: 5;
  transform: skewX(8deg) translate(0,0);
}

.removeActiveNav {
  transform: skewX(0deg) translate(100%,0);
  transform-origin: top right;
  transition: all .2s ease-in;
}

.navSideSelected{
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  background: #2ec765e0;
  height: 100%;
  transform: skewX(0deg) translate(100%,0);
  transform-origin: top right;
  transition: all .2s ease-in;
  z-index: 5;
  transform: skewX(8deg) translate(0,0);
}

.listaNav{
  transform: skewX(-8deg);
    transform-origin: top left;
    position: fixed;
    right: 120px;
    top: 32%;
    width: 400px;
    text-align: right;
}

.liNav{
  position: relative;
  z-index: 999;
  font-size: 32px;
  line-height: 64px;
  color: white;
  list-style: none;
  font-family: impact;
  font-weight: 300;
}

a{
  color: white;
}

.adminBlock{
    height: 100%;
    width: 100%;
    background-color: #000000d4;
    transform: skewX(0deg) translate(0, 100%);
    display: inline-flex;
}

.activeAdminBlock{
  transform-origin: right;
  transition: all .5s ease-in;
  z-index: 5;
  transform: skewX(0deg) translate(0,0);

}

.botonDegradao{
  border-radius: 5%;
  font-weight: bold;
  background: linear-gradient(-90deg, #0f1313, #53714f);
  width: 108px;
}


.bloqueSideTutorial{
    position: absolute;
    z-index: 100000;
    top: 10%;
    width: 50%;
    right: 5rem;
    background-color: #3b3b3b;
}

.BloqueSolucion{
    position: absolute;
    z-index: 100000;
    top: 10%;
    width: 35%;
    right: 5rem;
    background-color: #3b3b3b;
}

.bloqueCenterTutorial{
    left: unset;
    top: unset;
    right: 1rem;
    bottom: 6rem;
}

.bloqueIframeTutorial{
  left: 5rem;
}

.opacityTutorial{
  opacity: 0.2;
  animation-name:  opacityTut;
  animation-duration: 0.7s;
  animation-timing-function: linear;

  -webkit-animation-name: opacityTut;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
}

@-moz-keyframes opacityTut{
  0% { opacity: 1.0;}
  50% { opacity: 0.5; }
  100% { opacity: 0.2;  }
}

@-webkit-keyframes opacityTut {
  0% { opacity: 1.0;}
  50% { opacity: 0.5; }
  100% { opacity: 0.2;  }
}

@keyframes opacityTut {
  0% { opacity: 1.0;}
  50% { opacity: 0.5; }
  100% { opacity: 0.2;  }
}


.boderTitle{
   border-bottom: 1px solid #e9ecef !important;
   padding-bottom: 5px;
}

.colorGreen{
  color:green;
}

.enlaceIcon{
  transition: all .2s ease-in-out;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
  color: white;
}


.botonMenuContacto{
    width: 154px;
    font-size: 14px;
    height: 34px;
    font-weight: bold;
}
.temaApp{
  background: linear-gradient(-90deg, #0f1313, #53714f);
}

.temaAppTarjeta{
  background: linear-gradient(-90deg, #adbbbb, #94b590);
}

a:hover {
    text-decoration: unset !important;
    color: white !important;
}

.completado{
  font-size: 12px;
  color: #13c100;
}
.sinCompletar{
  font-size: 12px;
  color: #928888;
}

#bloqueSideBar{
  background: #232323;
  webkit-box-shadow: 10px 0px 15px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 15px -9px rgba(0,0,0,0.75);
  box-shadow: 4px 0px 15px -9px rgba(0,0,0,0.75);
  z-index: 4;
}

#bloqueTablass{
  width: 90%;
  margin: auto;   background-color: #5a5a5a;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
  color: white;
  max-height: 243px;
  font-weight: bold;
  margin-top: 1.6rem;
  overflow-y: scroll;
}
.pt-15{
  padding-top: 15px;
}

.pl-7{
  padding-left: 7px;
}

.tituloCardEjercicio{
  border-bottom: 1px solid #4fe2ac !important;
  padding-left: 20px;
  padding-bottom: 7px;
}

.filaTablaBd{
  color: #6ead7f;
  font-size: 17px;
}

.justifyCenterC{
  justify-content: center;
}

.tamañoCardListEjercicios{
  display:inline-flex;
  border-bottom: 2px #3a3a3a;
  padding-top: 4px;
  border-bottom-style: solid;
}

.filaListaEjercicios{
  overflow-y: scroll;
  max-height: 379px;
}

.inLFlex{
  display:inline-flex;
}

.cardListEjercicios{
  width:90%;
  margin:auto;background-color: #5a5a5a;
  border-radius: 4px;
  color: white;
  max-height: 450px;
  font-weight: bold;
}

.cardListEjerciciosEnun{
  width:90%;
  margin:auto;
  background-color: #5a5a5a;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
}

.cardBloqueConsulta{
  width:90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
}

.pEnunciado{
  font-weight: bold;font-size: 14px;
}

.span-Enunciado{
  color: darkmagenta;font-size: 15px;
}



.spanDificultadListaEjercicios{
  font-size: 12px;
  color: #928888;
}

.dificultadPrincipiante{
  color:#00b900;
}


.dificultadIntermedio{
  color:#ff9816;
}

.dificultadAvanzado{
  color:red;
}

.permitirAccederEjercicio{
  color: #6ead7f;
  font-size: 23px;
}

.noPermitirAccederEjercicio{
  color:grey;
  font-size: 23px;
}

.completadoEjercicio{
  font-size: 12px;
  color: #13c100;
}

.sinCompletarEjercicio{
  font-size: 12px;
  color: #928888;
}
.structRankin{
  margin-top: 0;
  padding: 2.1px;
}

.textoRankin{
  color: #10b93c;font-size: 15px;
}

#bloqueEjercicio{
  background-color: #ece8e8;
}

#sideBar{
  position: absolute;
  top: 0;
  left: -25px;
  height: 36px;
  cursor: pointer;
  z-index: 500;
}

.burbujaS{
  font-size: 30px;
  top: 14px;
  color: #0d6127;
}

.burbujaI{
  font-size: 13px;
  color: white;
  height: 30px;
}

.height-45{
  height:45%;
}

.height-50{
  height:50%;
}

.cardBloqueRespuesta{
  width:90%;
  max-height: 370px;
  margin:auto;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.75);
  border-radius: 4px;
}

.cardEstructuraTituloBloqueRespuesta{
    border-bottom: 1px solid #e9ecef !important;
    padding-bottom: 5px;
}
.tablaRespuesta{
  text-align:center;
  color:black;font-weight:bold
}

#bloqueIframe{
  -webkit-box-shadow: 0px 9px 18px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 18px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 18px -5px rgba(0,0,0,0.75);
}

.structuraBotHeader{
  padding-top: 0.3rem;
  padding-top: 0.3rem;
  background-color: white;
  -webkit-box-shadow: 0px 9px 18px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 18px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 18px -5px rgba(0,0,0,0.75);
  height: 8%;
}

.fotoIframe{
  width: 25%;
  height: 44.5px;
  justify-content: center;
  float: left;
  display: inline-block;
}

#fotoAvatar{
  width: 49px;
  height: 47px;
  display: block;
  margin-left: auto;
  margin-top: 0.3rem;
  margin-right: auto;
  border-radius: 50%;
}

.nombreIframe{
  text-align: left;
  width: 60%;
  float: left;
  height: 43.4px;
  display: inline-block;
  font-family: sans-serif !important;
}

.labelNombreBot{
  text-align: left;
  display: inline-block;
  color: black;
  line-height: 1.2;
  font-size: 12px !important;
  margin: 0px;
  font-weight: bold !important;
  padding-top: 13.5px;
  letter-spacing: 0;
}

#nombreAsistente{
  font-size: 13px;
  font-weight: bold;
}

.labelDisponibilidadBot{
  font-size: 10px !important;
  margin: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

.fuentePunto{
  font-size: 11px;
  color: #12c112;
}

.fuente-19{
  font-size: 19px;
}

.cerrarIframe{
  padding-top: 18px;
  display: inline-block;
  cursor: pointer;
}

.bloqueChatbot{
  height: 92%;
  background-color: #dadada;
}
